:root {
    --azul: #294260;
    --amarelo: #EEB310;
    --cinza: #5A5B5D;
}

body {
    background-color: #294260;
    color: #fff;
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginForm {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm > * {
    margin: 5px;
}